<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Movimientos</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar 
      placeholder="Buscar categoría..." 
      class="custom-search"
      [(ngModel)]="searchText">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="filter-section">
    <ion-segment [(ngModel)]="filterType" mode="ios">
      <ion-segment-button value="all">
        <ion-label>Todos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="income">
        <ion-label>Ingresos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="expense">
        <ion-label>Gastos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-list lines="none" class="transaction-list">
    <ion-item 
      *ngFor="let item of transactions | searchByText:searchText | filterByType:filterType" 
      [routerLink]="['/tabs/transacciones/detalle', item.id]"
      button
      class="history-item">
      
      <ion-thumbnail slot="start" *ngIf="item.receipt; else noPhoto">
        <img [src]="item.receipt" style="border-radius: 8px;" />
      </ion-thumbnail>
      
      <ng-template #noPhoto>
        <div [class]="'icon-box ' + item.type" slot="start">
          <ion-icon [name]="item.type === 'income' ? 'arrow-up-circle' : 'arrow-down-circle'"></ion-icon>
        </div>
      </ng-template>

      <ion-label>
        <h2>{{ item.category }}</h2>
        <p>{{ item.date | date:'dd/MM/yyyy' }}</p>
      </ion-label>

      <ion-note slot="end" [class]="item.type" [color]="item.type === 'income' ? 'success' : 'danger'">
        {{ item.type === 'income' ? '+' : '-' }} {{ item.amount | currency }}
      </ion-note>
    </ion-item>

    <div class="empty-msg" *ngIf="transactions.length === 0">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <p>No hay movimientos registrados.</p>
    </div>
  </ion-list>
</ion-content>