<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Movimientos</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar 
      placeholder="Buscar categoría o nota..." 
      class="custom-search"
      (ionInput)="handleSearch($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="filter-section">
    <ion-segment [(ngModel)]="filterType" (ionChange)="filterData()" mode="ios">
      <ion-segment-button value="all">
        <ion-label>Todos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="income">
        <ion-label>Ingresos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="expense">
        <ion-label>Gastos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-list lines="none" class="transaction-list">
    <div class="empty-msg" *ngIf="filteredTransactions.length === 0">
      <ion-icon name="search-outline"></ion-icon>
      <p>No se encontraron movimientos.</p>
    </div>

    <ion-item 
      *ngFor="let item of filteredTransactions" 
      [routerLink]="['/tabs/transacciones/detalle', item.id]"
      button
      class="history-item">
      <div [class]="'icon-box ' + item.type" slot="start">
        <ion-icon [name]="item.type === 'income' ? 'trending-up' : 'trending-down'"></ion-icon>
      </div>
      <ion-label>
        <h2>{{ item.category }}</h2>
        <p>{{ item.date | date:'fullDate' }}</p>
      </ion-label>
      <ion-note slot="end" [class]="item.type">
        {{ item.type === 'income' ? '+' : '-' }} {{ item.amount | currency }}
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>